.assign-container{
    text-align: right;
    margin-top: 1em;
}

.work-container{
    width: 100%;
    text-align: center;
}

.assignees-container{
    border-top: 1px solid grey;
    padding: 1em;
}